* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    font-size: 20px;
    color: rgb(199, 199, 199);
}

header {
    height: fit-content;
    padding-bottom: 30px;
    background-image: url("content/paperboard-carton-surface-beige-plain.jpg");
    background-color: rgb(204, 182, 150);
    background-size: cover;
    filter: brightness(70%)
}
nav {
    height: 21vh;
}
.disinherited-logo {
    margin: 3vh 1vh 0 2vh;
    height: 21vh;
    /* filter: drop-shadow(8px 8px 10px rgb(255, 255, 255)) invert(90%); */
    float: left;
    filter: invert(90%)
}
.logo{
    float: left;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap:wrap;
}
.directory {
    position: relative;
    top: 73%
}
li {
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
}

.link {
    margin: 1vh 3vh;
    font-size: 1.25vw;
    font-weight: 400;
    color: #000000;
    /* background-color: cadetblue; */
    text-decoration: none;
    letter-spacing: 1px;
}
.main-body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("content/IMG_9687color2\ copy.jpg");
    background-size: cover;
    color: #ffffff;
}
.media-body {
    position: relative;
    display: flex;
    justify-content: center;
    height: 125vh;
    width: 100%;
    background: linear-gradient(#222222, #0b0b0b 90%);
    color: #ffffff;
}
.silhouettes, .spotify-player {
    margin: 12vh 6vh 0 12vh;
}
.spotify-player {
    margin-top: 15vh;
}

.silhouettes {
    filter:brightness(75%);
    height: auto;
    width: 35vw;
}
.youtube {
    margin-bottom: 7vh;
    position: absolute;
    bottom: 0
}
.who {
    max-width: 500px;
    font-size: 22px;
    margin: 20px auto;
    font-family: Source Serif Pro;
}
.bio {
    font-family: Source Serif Pro;
    font-weight: 300;
    max-width: 50ch;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 150%;
    font-size: 20px;
    margin: 20px auto;
}
.link:hover, .link:active{
    color: #6d6d6d;
    border-bottom: 3px solid #000000;
    transform: scaleX(1);
    transition: border 0.2s, color 0.2s ease-in-out;
}
::placeholder{
    color: black;

}
.email-sign-up {
    display: flex;
    justify-content: center;
    margin-top: 125px;
    margin-left: 25px;
}
.email-form {
    font-family: Source Serif Pro;
    width: 50ch;
    margin-bottom: 30px;
    font-size: 18;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.name {
    width: 150px;
}
.email, .name, .submit{
    margin: 10px 5px 10px 0;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(253, 253, 253, 0.5);
    border: 1px;
    padding: 0 10px;
    font-size: 16px;
}
.name:focus, .name:hover, .email:focus, .email:hover {
    outline: none;
    background-color: white;
    color: black;
    transform:scaleX(1);
    transition: background-color 0.3s, color 0.3s;
}
.submit {
    background-color: transparent;
    color: color: rgb(180, 180, 180);
    border: 2px solid rgb(180, 180, 180);
    transition: background-color 0.3s, color 0.3s;
}

.submit:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
    transform:scaleX(1);
    transition: background-color 0.3s, color 0.3s;
}
.footer-container {
    min-height: 100vh;
}
footer {
    position: relative;
    height: 10vh;
    width: 100%;
    bottom: 0px;
    background-image: url("content/paperboard-carton-surface-beige-plain.jpg");
    background-size: cover;
    filter: brightness(70%);
    display: flex;
    justify-content: center;
    align-items: center;
}
use.social{
    height: fit-content;
    width: fit-content;
}
svg {
    text-align: center;
}
 #facebook-icon, #spotify-icon, #youtube, #instagram-icon, #apple-music-icon, #email {
     height: 4vh;
     width: auto;
     padding: 0 20px;
 }

#instagram-icon {
    padding: 0 15px:
}
 #spotify-icon {
    height: 3.4vh;
    width: auto;
}
#facebook-icon {
    padding: 0 15px;
    height:3vh;
    width: auto;
}
#apple-music-icon {
    height: 3.4vh;
    width:auto;
}

#youtube {
    height: 3.5vh;
    width: auto;
}

#email {
    height: 3.25vh;
    width:auto;
}
.social-icon {
    fill: black;
    transition: fill 0.3s;
}
.social-icon:hover {
    fill: #6d6d6d;
    transition: fill 0.3s;
}
.portrait-1, .portrait-2{
    margin: 0;
    display: flex;
    height:75vh;
}
#chris, #michael, #patrick, #steven {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("content/chris.jpg");
    height: 75vh;
    width: 50vw;
    background-size: cover;
    background-position: center;
}
#michael {
    background-image: url("content/michael.jpg");
    backdrop-filter: blur(5px);
}
#patrick {
    background-image: url("content/patrick.jpg");
}
#steven {
    background-image: url("content/steven.jpg");
}
.inner-text {
    position: absolute;
    color: rgb(168, 45, 45);
    width: 20ch;
    margin: auto;
    padding: 20px;
    z-index: 5;
}

.inner-text:hover {
    color:crimson;
    border: 2px solid crimson;
}

.container-1 {
    position:absolute;
}